<div class='bg-light-palette-p5 border-[1.5px] color-border-default rounded px-4 py-5 animate-pulse'>
  <div class='flex justify-between items-center gap-2 mb-2'>
    <div class='bg-gray-400 rounded-full h-5 w-36'>
    </div>
  </div>
  <p class='bg-gray-400 rounded-full h-8 w-40'>
  </p>
  <div class='bg-gray-400 rounded-full h-3.5 w-36 mt-2'>
  </div>
</div>
