<section class="bg-brand-palette-08 p-8 h-[calc(100vh-74px)]">
  <div class='bg-light-palette-p5 rounded border-2 border-light-palette-p3 h-full w-full p-4'>
    <div data-controller='event--fullcalendar' data-event--fullcalendar-events-url-value='/accounts/<%= Current.account.id %>/events/calendar_events' data-event--fullcalendar-language-value=<%= current_user.language %> data-event--fullcalendar-target='calendar' class='h-full w-full'>
    </div>
  </div>
</section>
