<div class='rounded-md p-4 bg-light-palette-p5 border border-light-palette-p3 animate-pulse'>
  <div class='flex justify-between content-start mb-[9px]'>
    <div class='h-10 w-10 bg-light-palette-p1 rounded-full'>
    </div>
    <div class='rounded w-24 h-8 bg-gray-500'>
    </div>
  </div>
  <div class='m-0 h-2 bg-gray-500 rounded-full dark:bg-gray-600 w-36 mb-2.5'>
  </div>
  <div class='w-full h-0.5 bg-light-palette-p3 mb-2'>
  </div>
  <div class='mb-2'>
    <div class='inline-flex gap-2'>
      <div class='m-0 h-2 bg-gray-500 rounded-full dark:bg-gray-600 w-36 mb-2.5'>
      </div>
    </div>
  </div>
  <div>
    <div class='inline-flex gap-2'>
      <div class='m-0 h-2 bg-gray-500 rounded-full dark:bg-gray-600 w-36 mb-2.5'>
      </div>
    </div>
  </div>
</div>
