<div class="flex items-center gap-2">
  <% if current_user %>
    <div data-controller="theme">
      <button type="button" data-action="theme#toggle"
              class="button-default-blank-secondary-icon-only-md">
        <svg data-theme-target="sunIcon" data-lucide="sun" class="lucide lucide-sun"></svg>
        <svg data-theme-target="moonIcon" data-lucide="moon" class="lucide lucide-moon hidden"></svg>
      </button>
    </div>
    <%= render 'components/navs/user_menu' %>
  <% else %>
    <%= link_to t('views.devise.sessions.new.log_in'), new_user_session_path, class: 'btn-primary' %>
  <% end %>
</div>