<% if results.values.all?(&:blank?) %>
  <div class="text-center py-8" data-controller="load-lucid-icons">
    <i data-lucide="search-x" class="w-12 h-12 mx-auto color-fg-extra-soft mb-2"></i>
    <p class="typography-text-r-lh150 color-fg-soft"><%= t('views.accounts.advanced_searches.no_results') %></p>
  </div>
<% else %>
  <div class="space-y-4 max-h-96 overflow-y-auto" data-controller="load-lucid-icons">
    <% search_types.each do |search_type| %>
      <% items = results[search_type[:key]] %>
      <%= render layout: 'accounts/advanced_searches/result_section', locals: { items: items, icon: search_type[:icon], label: search_type[:label] } do %>
        <% items&.each do |item| %>
          <%= render 'accounts/advanced_searches/result_item', type: search_type[:type], item: item %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
