<section class="px-4 py-5 bg-light-palette-p5 border-2 border-light-palette-p3 rounded-md m-8 max-w-2xl mx-auto">
  <%= render 'form', ai_assistent: @ai_assistent, url: account_apps_ai_assistent_path(current_user.account) %>
</section>