<% class_style ||= "" %>
<span class="<%= class_style %>"
      data-controller="currency--format-exhibition"
      data-currency--format-exhibition-amount-in-cents-value="<%= value %>"
      data-currency--format-exhibition-currency-value="<%= Current.account.currency_code %>">
</span>
