<% class_style ||= "" %>
<span class="<%= class_style %>" data-controller="datetime--format-exhibition" data-datetime--format-exhibition-date-value="<%= value %>" data-datetime--format-exhibition-type-value="<%= type %>" data-datetime--format-exhibition-locale-value="<%= current_user.language || '' %>">
</span>
