<div class="external-page-container">
  <iframe
    class="w-full h-screen"
    src="<%= @store_url %>" 
    frameborder="0"
    allowfullscreen
    sandbox="allow-scripts allow-same-origin allow-forms allow-popups">
    <p>Your browser does not support iframes. <a href="<%= @store_url %>">Click here to access the page</a></p>
  </iframe>
</div>