// daterangepicker
.daterangepicker {
  font-family: "Nunito", "Arial", "sans-serif";
  font-weight: 500;
}


.daterangepicker td.active:hover {
  background-color: #8686E8;
}

.daterangepicker .ranges li.active {
  background-color: #6857D9;
  color: #fff;
}

.daterangepicker td.in-range {
  background-color: #D9DEFF;
  border-color: transparent;
  color: #000;
  border-radius: 0;
}

.daterangepicker td.active {
  background-color: #6857D9;
  color: #fff;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
  border: none;
}
