:root {
  --fc-small-font-size: 0.85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: #FAF9FD;
  --fc-neutral-text-color: #808080;
  --fc-border-color: #F2F1F7;

  /* Button variables */
  --fc-button-text-color: #888599;
  --fc-button-bg-color: #FAF9FD;
  --fc-button-border-color: transparent;
  --fc-button-border-width: 1.5px;
  --fc-button-border-radius: 0.25rem;

  --fc-button-hover-text-color: #6857D9;
  --fc-button-hover-bg-color: #F6F8FE;
  --fc-button-hover-border-color: #D9DEFF;

  --fc-button-active-text-color: #6857D9;
  --fc-button-active-bg-color: #F6F8FE;
  --fc-button-active-border-color: #D9DEFF;

  /* Event variables */
  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  /* Misc */
  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: #F6F8FE;
  --fc-now-indicator-color: red;

  --fc-list-event-hover-bg-color: #f5f5f5;
}

/* =======================
   BUTTONS
========================= */

.fc .fc-button-primary {
  border-style: solid;
  border-radius: var(--fc-button-border-radius);
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  color: var(--fc-button-active-text-color);
  background-color: var(--fc-button-active-bg-color);
  border-color: var(--fc-button-active-border-color);
}

.fc .fc-button-primary:focus,
.fc .fc-button-primary:active:focus,
.fc .fc-button-primary.fc-button-active:focus,
.fc .fc-button:focus,
.fc .fc-button:active:focus {
  border-color: var(--fc-button-active-border-color) !important;
  outline: none !important;
  box-shadow: none !important;
}

.fc .fc-button-group {
  gap: 0.5rem;
}

.fc-direction-ltr .fc-button-group>.fc-button {
  border-radius: var(--fc-button-border-radius) !important;
}

/* =======================
   TITLES & TEXT
========================= */

.fc-toolbar-title {
  font-weight: 600;
  color: #605E70;
  font-size: 1.375rem !important;
}

.fc-event-title {
  font-weight: 600;
}

.fc-daygrid-day-number {
  color: #888599;
}

.fc .fc-list-empty-cushion {
  color: #605E70;
  font-weight: 600;
}

/* =======================
   EVENTS
========================= */

// /* Dot-style events */
.fc .fc-daygrid-dot-event .fc-event-title {
  color: #888599;
}

.fc .fc-daygrid-dot-event .fc-event-title:hover {
  color: #605E70;
}

.fc .fc-daygrid-dot-event .fc-event-time {
  color: #605E70;
}

/* List-style events */
.fc .fc-list-event td {
  color: #737185 !important;
}

.fc .fc-list-event:hover td {
  color: #605E70 !important;
}

// /* Hover effects */
.fc .fc-daygrid-dot-event:hover {
  background-color: #F2F1F7 !important;
}

.fc .fc-timegrid-event:hover,
.fc .fc-daygrid-block-event:hover {
  filter: brightness(95%);
}

/* =======================
   HEADERS & LABELS
========================= */

.fc .fc-col-header-cell-cushion,
.fc .fc-timegrid-axis-cushion,
.fc .fc-timegrid-slot-label-cushion {
  color: #888599;
  font-weight: 600;
}

.fc a[data-navlink] {
  color: #888599;
}

/* List view day header */
.fc .fc-list-day-cushion {
  background-color: #FAF9FD;
  color: #605E70;
}

.fc-theme-standard .fc-scrollgrid {
  border-radius: .25rem !important;
  border-width: 1.5px;
}
