name: Continuous Deployment (GHCR)

on:
  push:
    branches:
      - main
      - master  # Adicionei master caso seu fork antigo use esse nome
      - development

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Necessário para publicar no GHCR

    steps:
      - name: Checkout
        uses: actions/checkout@v4 # Versão mais atualizada

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64
          push: true
          # Aqui ele cria a tag automática: ghcr.io/gleicilenedias/woofed-crm:latest
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.sha }}
